@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #8ED232; 
  --color-secondary: #2D3134; 
}

.my-btn {
 
  background-color: #8ED232;
  border-color: #8ED232;
  color: white;
  padding: 0.5rem 0.9rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.my-btn:hover {
  background-color: #7ab52b;
  border-color: #7ab52b;
}

.learn-more {
  color: #8ED232;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}