@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #8ED232; 
  --color-secondary: #2D3134; 
}

.my-btn {
 
  background-color: #1c1917;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: all;
}

.my-btn:hover {
  background-color: #78350f;
}

